---
layout: default
title: Acorno Media - Websites, Applications, Mobile Apps, IT Systems in Singapore
---

{% include featured.html %}

{% include callaction.html %}

{% include services.html %}

{% include packages.html %}

{% include email.html %}

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4>Very satisfied <strong>clients</strong></h4>
                <div id="mycarousel1" class="touchcarousel black-and-white" style="overflow: visible;">
                    <div class="touchcarousel-wrapper grab-cursor">
                        <ul class="touchcarousel-container clients" style="width: 2735px; left: 0px;">
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.ida.gov.sg/">
                                    <img src="{{ '/img/clients/ida.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <!-- <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.msf.gov.sg/">
                                    <img src="{{ '/img/clients/msf.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li> -->
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.nus.edu.sg/">
                                    <img src="{{ '/img/clients/nus.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <!-- <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.sph.com.sg/">
                                    <img src="{{ '/img/clients/sph.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="https://www.maxi-cash.com.sg/">
                                    <img src="{{ '/img/clients/maxicash.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li> -->
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.lboro.ac.uk/">
                                    <img src="{{ '/img/clients/loughborough.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="https://hoovix.com/">
                                    <img src="{{ '/img/clients/hoovix.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.facebook.com/printideas.sg">
                                    <img src="{{ '/img/clients/printideas.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <!-- <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.rocktlabs.com/">
                                    <img src="{{ '/img/clients/rocktlabs.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li> -->
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://medad-tech.com/">
                                    <img src="{{ '/img/clients/medad.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://angsanadx.com/">
                                    <img src="{{ '/img/clients/angsana.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://xpresstuition.com/">
                                    <img src="{{ '/img/clients/xpresstuition.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://eleventhstore.com/">
                                    <img src="{{ '/img/clients/eleventh.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <!-- <li class="touchcarousel-item">
                                <a class="item-block" href="http://shilohanimalex.com/">
                                    <img src="{{ '/img/clients/shilohanimalex.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://k9shiloh.com/">
                                    <img src="{{ '/img/clients/shiloh.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li> -->
                            <li class="touchcarousel-item">
                                <a class="item-block" href="#">
                                    <img src="{{ '/img/clients/galaxytrades.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://appriqot.com/">
                                    <img src="{{ '/img/clients/appriqot.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.canon.com.sg/">
                                    <img src="{{ '/img/clients/canon.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                            <li class="touchcarousel-item">
                                <a class="item-block" href="http://www.neublick.com/">
                                    <img src="{{ '/img/clients/neublick.png' | prepend: site.baseurl }}" class="client-logo" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>