<div class="widget">
    <h5 class="widgetheading">About Acorno Media</h5>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                1. What we do </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <p>
                        Acorno Media is a leading tech solution provider and digital design studio in South East Asia (based in Singapore), offering a huge range of services ranging from creative UI/UX design to enterprise software development. We provide solutions such as (company / ecommerce / marketing) websites, web applications, mobile applications, customized applications including ERP/CRM systems as well as digital marketing and tech consulting.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                2. Work process / Quality assurance</a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>
                        Our work process leverages on fundamental methodologies strictly to ensure quality. In terms of software, we enforce strict coding standards/practices to ensure good code quality. In terms of design, we practice unique creative thinking methods to produce awesome design ideas.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                3. What we can deliver </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>
                        On top of our high quality software and design deliverables and services, we provide excellent and useful advice through personal consultation services including digital marketing strategies and work productivity enhancements.
                    </p>
                    <p>
                        Our team has never failed to achieve what our clients need.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>