<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="big-cta">
                    <div class="cta-text">
                        <!-- <h3>We provide the most <span class="highlight"><strong>comprehensive</strong></span> solution to creating your online presence at the most <span class="highlight"><strong>affordable</strong></span> price!</h3> -->
                        <h3>We make technology and design <span class="highlight"><strong>simple</strong></span> and <span class="highlight"><strong>effortless</strong></span> for you!</h3>
                    </div>
                    <div class="cta floatright">
                        <a class="btn btn-large btn-theme btn-rounded" href="#requestQuote" data-toggle="modal">Request a quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>