<section id="featured">
    <!-- start slider -->
    <!-- Slider -->
    <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
        <div class="rsContent">
            <img class="rsImg" src="{{ '/img/slides/bg-1.jpg' | prepend: site.baseurl }}" alt="One fits all">
            <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                <h2>One fits <strong>all</strong></h2>
                <p>
                    No more worrying about finding separate solutions for the desktop, laptop, tablet and mobile phone. We provide the comprehensive solution to fit them all.
                </p>
            </div>
        </div>
        <div class="rsContent">
            <img class="rsImg" src="{{ '/img/slides/bg-2.jpg' | prepend: site.baseurl }}" alt="Fully interactive">
            <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                <h2>Fully <strong>interactive</strong></h2>
                <p>
                    Your online content needs to engage your customer. Our interactive website interfaces will captivate your potential clients.
                </p>
            </div>
        </div>
        <div class="rsContent">
            <img class="rsImg" src="{{ '/img/slides/bg-3.jpg' | prepend: site.baseurl }}" alt="Simple and customizable">
            <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                <h2>Most <strong>reliable</strong> email marketing</h2>
                <p>
                    We ensure your marketing emails get delivered reliably at cost effective prices.
                </p>
            </div>
        </div>
    </div>
    <!-- end slider -->
</section>