<footer>
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="widget">
                    <h5 class="widgetheading">Browse</h5>
                    <ul class="link-list">
                        {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
                        <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                            <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <h5><span class="highlight">Request quote</span></h5>
                    <form class="form-inline" action="//formspree.io/{{ site.email }}" method="POST">
                        <input type="email" name="requestQuoteEmail" id="requestQuoteEmail" class="input-medium" placeholder="Email">
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </div>
            <div id="contact" class="span4">
                <div class="widget">
                    <h5 class="widgetheading">Get in touch with us</h5>
                    <address>
                        <strong>Acorno</strong>
                        <br> Singapore </address>
                    <p>Reg No: 53265312B</p>
                    <p>
                        <!--<i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>-->
                        <i class="icon-envelope-alt"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Acorno Media {{ site.time | date: '%Y' }} All rights reserved.</span>
                        </p>
                    </div>
                </div>
                <div class="span6">
                    <ul class="social-network">
                        {% if site.social.facebook %}
                        <li><a href="http://www.facebook.com/{{ site.social.facebook }}" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                        {% endif %} {% if site.social.twitter %}
                        <li><a href="http://twitter.com/{{ site.social.twitter }}" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                        {% endif %} {% if site.social.linkedin %}
                        <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                        {% endif %} {% if site.social.pinterest %}
                        <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                        {% endif %} {% if site.social.google %}
                        <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
                        {% endif %} {% if site.email %}
                        <li><a href="mailto:{{ site.email }}" data-placement="bottom" title="Email"><i class="icon-envelope icon-square"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>