<section id="packages">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4>Our simplified <strong>website packages</strong></h4>
            </div>
            <div class="span12">
                <div class="span6">
                    <ul>
                        <li>Packages do not include domain and hosting prices.</li>
                        <!--<li>Foreign currencies (other than SGD) are only approximates of the final prices.</li>-->
                        <li>Additional modules may be requested as add-ons which may incur additional costs.</li>
                    </ul>
                </div>
                <!--
                                <div class="floatright form-inline">
                                        <label for="currency">Currency: </label>
                                        <select id="currency" name="currency" class="input-small">
                                                <option value="AUD">AUD</option>
                                                <option value="BRL">BRL</option>
                                                <option value="CAD">CAD</option>
                                                <option value="CHF">CHF</option>
                                                <option value="CZK">CZK</option>
                                                <option value="DKK">DKK</option>
                                                <option value="EUR">EUR</option>
                                                <option value="GBP">GBP</option>
                                                <option value="HKD">HKD</option>
                                                <option value="HUF">HUF</option>
                                                <option value="ILS">ILS</option>
                                                <option value="JPY">JPY</option>
                                                <option value="MXN">MXN</option>
                                                <option value="MYR">MYR</option>
                                                <option value="NOK">NOK</option>
                                                <option value="NZD">NZD</option>
                                                <option value="PHP">PHP</option>
                                                <option value="PLN">PLN</option>
                                                <option value="SEK">SEK</option>
                                                <option value="SGD" selected>SGD</option>
                                                <option value="THB">THB</option>
                                                <option value="TRY">TRY</option>
                                                <option value="TWD">TWD</option>
                                                <option value="USD">USD</option>
                                        </select>
                                </div>
                                -->
            </div>
            <div class="span3">
                <div class="pricing-box-alt">
                    <div class="pricing-heading">
                        <h3>Very <strong>Basic</strong></h3>
                    </div>
                    <!--
                                        <div class="pricing-terms" data-price="499">
                                                <h6>499 SGD</h6>
                                        </div>
                                        -->
                    <div class="pricing-content">
                        <ul>
                            <li><i class="icon-ok"></i> Limited pages</li>
                            <li><i class="icon-ok"></i> Basic website design</li>
                            <li><i class="icon-ok"></i> Ready support available</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#requestQuote" data-toggle="modal" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Ask Now</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="pricing-box-alt">
                    <div class="pricing-heading">
                        <h3>With <strong>CMS</strong></h3>
                    </div>
                    <!--
                                        <div class="pricing-terms" data-price="699">
                                                <h6>699 SGD</h6>
                                        </div>
                                        -->
                    <div class="pricing-content">
                        <ul>
                            <li><i class="icon-ok"></i> Unlimited pages</li>
                            <li><i class="icon-ok"></i> Basic website design</li>
                            <li><i class="icon-ok"></i> Content Management System</li>
                            <li><i class="icon-ok"></i> Ready support available</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#requestQuote" data-toggle="modal" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Ask Now</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="pricing-box-alt">
                    <div class="pricing-heading">
                        <h3><strong>E-commerce</strong></h3>
                    </div>
                    <!--
                                        <div class="pricing-terms" data-price="1199">
                                                <h6>1199 SGD</h6>
                                        </div>
                                        -->
                    <div class="pricing-content">
                        <ul>
                            <li><i class="icon-ok"></i> Unlimited pages</li>
                            <li><i class="icon-ok"></i> Basic website design</li>
                            <li><i class="icon-ok"></i> Content Management System</li>
                            <li><i class="icon-ok"></i> Inventory Management System</li>
                            <li><i class="icon-ok"></i> E-Payment System</li>
                            <li><i class="icon-ok"></i> Ready support available</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#requestQuote" data-toggle="modal" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Ask Now</a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="pricing-box-alt special">
                    <div class="pricing-heading">
                        <h3><strong>Customized</strong></h3>
                    </div>
                    <!--
                                        <div class="pricing-terms">
                                                <h6>---</h6>
                                        </div>
                                        -->
                    <div class="pricing-content">
                        <ul>
                            <li><i class="icon-ok"></i> Unlimited pages</li>
                            <li><i class="icon-ok"></i> Basic website design</li>
                            <li><i class="icon-ok"></i> Enterprise-grade System</li>
                            <li><i class="icon-ok"></i> Ready support available</li>
                            <li><i class="icon-ok"></i> Choice of development languages/frameworks</li>
                            <li><i class="icon-ok"></i> Many more features...</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#requestQuote" data-toggle="modal" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Ask Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
    </div>
</section>