<!-- Add jQuery and other scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ \'/js/jquery.js\' | prepend:site.baseurl }}"><\/script>')</script>
<script src="{{ '/js/jquery.easing.1.3.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/bootstrap.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/retina.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/jquery.royalslider.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/jcarousel/jquery.jcarousel.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/jquery.fancybox.pack.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/jquery.fancybox-media.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/portfolio/jquery.quicksand.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/portfolio/setting.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/modernizr.custom.79639.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/jquery.ba-cond.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/animate.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/jquery.smooth-scroll.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/custom.js' | prepend:site.baseurl }}"></script>
<script src="{{ '/js/touchcarousel/jquery.touchcarousel-1.2.min.js' | prepend:site.baseurl }}"></script>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3Bmf6aBF5pXlhzva3aJ30pmdOvCd2l1I";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->