<section id="services">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-picture icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Creative UI/UX Design</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-align-justify icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Content Management Systems (CMS)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-shopping-cart icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>E-commerce</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-mobile-phone icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Mobile Applications</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-bullhorn icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Social / Digital Marketing</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-search icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Search Engine Optimisation (SEO)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-envelope icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>EDM Email Marketing</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-cloud icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Cloud Hosting</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-lightbulb icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Smart Technologies / Artificial Intelligence</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-link icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Enterprise Resource Planning (ERP)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-group icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Customer Relationship Management (CRM)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-hdd icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>Office Servers / Infrastructure</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
    </div>
</section>