---
layout: default
title: Category | Acorno Media - Websites, Applications, Mobile Apps, IT Systems in Singapore
---

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <h2>Blog ({{ page.category | capitalize }})</h2>
                </div>
            </div>
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="{{ site.baseurl }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a><i class="icon-angle-right"></i></li>
                    <li class="active">{{ page.category | capitalize }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                {% for post in site.categories.[page.category] %}
                    <article>
                        <div class="row">
                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                                    </div>
                                    {% if post.image %}
                                    <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" />
                                    {% endif %}
                                </div>
                                <p>{{ post.excerpt }}</p>
                                <div class="bottom-article">
                                    <ul class="meta-post">
                                        <li><i class="icon-calendar"></i><a href="#"> {{ post.date | date: '%B %d, %Y' }}</a></li>
                                        <li><i class="icon-user"></i><a href="#"> Admin</a></li>
                                        <li><i class="icon-folder-open"></i><a href="{{ post.category | prepend: '/blog/' | prepend: site.baseurl }}"> {{ post.category | capitalize }}</a></li>
                                        <li><i class="icon-tags"></i><a href="#"> {{ post.tags | array_to_sentence_string }}</a></li>
                                        <li><i class="icon-time"></i><a href="#"> {{ post.content | number_of_words | divided_by:180 }} minutes</a></li>
                                        <!-- <li><i class="icon-comments"></i><a href="#">4 Comments</a></li> -->
                                    </ul>
                                    <a href="{{ post.url | prepend: site.baseurl }}" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <div class="span4">
                <aside class="right-sidebar">
                    {% include about_widget.html %}

                    <!-- <div class="widget">
                        <form class="form-search">
                            <input placeholder="Type something" type="text" class="input-medium search-query">
                            <button type="submit" class="btn btn-square btn-theme">Search</button>
                        </form>
                    </div> -->
                    
                    {% include categories_widget.html %}

                    {% include tags_widget.html %}
                </aside>
            </div>
        </div>
    </div>
</section>